<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.benhuntoon.final_project">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MadLibApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Final Project"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">
        <activity android:name=".ui.activities.SavedMadLibsActivity" />
        <activity android:name=".ui.activities.MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.MadLibDetailActivity"
            android:parentActivityName=".ui.activities.SavedMadLibsActivity">
            <!-- Optional: enable the “Up” arrow in the toolbar -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.SavedMadLibsActivity"/>
        </activity>

    </application>
</manifest>

